.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 143px;
  height: 48px;
}
  
  .quantity-box button {
    background:none;
    color: #000;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
  
 .quantity-box button:hover {
    background-color: #0056b3;
  }
  
  .quantity-box input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 16px;
    margin: 0 10px;
  }
  .product{
    border: 1px solid #000;
  }
  .product-content{
    padding: 10px;
  }
  .product-upper{
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
  }
  .product-upper p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product-image{
    width: 20%;
    display: flex;
  }
  .product-image img{
    width: 50%;
    height: 50%;
    margin-right: 5px;
  }

  .product-description {
    width: 70%;
  }
.product-description p u{
  font-size: 20px;
  font-weight: bold;
}
.product-description p{
  margin-bottom: 15px;
}
.product-description p span{
  color: #000;
  text-decoration: underline;
  font-size: 18px;
}
.quantity-box{
  margin-bottom: 10px;
}
.product-down{
  padding: 10px;
}
.details-section{
  margin-top: 25px;
}
.product{
  width: 70%;
}
.cart-total{
  width: 25%;
}
.cart-heading{
  border-bottom: 1px solid hsla(0, 0%,
  7%,.11);
  
}
.cart-heading h3{
  margin-bottom: 10px;
}
.addcoupon{
  padding: 10px;
}
.addcoupon-heading{
  margin-bottom: 10px;
}
.entercode input{
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;

}
.entercode button{
  width: 29%;
  margin-bottom: 15px;
  background: #B88E2F;
  border: none;
  border-radius: 5px;
  color: #fff;
  
}
.entercode{
  border-bottom: 1px solid hsla(0, 0%,
  7%,.11);
}
.subtotal{
  margin-top: 10px;
  margin-bottom: 10px;
}

.free-shipping{
  margin-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%,
  7%,.11);

}
.free-shipping p{
  margin-bottom: 10px;
}

.remove-item{
  cursor: pointer;
}
.empty-cart{
  text-align: center;
}
.empty-cart i{
  font-size: 44px;
  margin-bottom: 20px;
  color: #000;
}
.empty-cart p{
  margin-bottom: 20px;
}
.empty-cart .button{
  background: #B88E2F;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}